<?xml version="1.0"?>
<config>
    <modules>
        <ikantam_knowledgebase>
            <version>0.1.0</version>
        </ikantam_knowledgebase>
    </modules>
    <global>
        <models>
            <ikantam_knowledgebase>
                <class>ikantam_knowledgebase_Model</class>
                <resourceModel>ikantam_knowledgebase_resource</resourceModel>
            </ikantam_knowledgebase>
            <ikantam_knowledgebase_resource>
                <class>ikantam_knowledgebase_Model_Resource</class>
            </ikantam_knowledgebase_resource>
        </models>
        <blocks>
            <ikantam_knowledgebase>
                <class>ikantam_knowledgebase_Block</class>
            </ikantam_knowledgebase>
        </blocks>
        <helpers>
            <ikantam_knowledgebase>
                <class>ikantam_knowledgebase_Helper</class>
            </ikantam_knowledgebase>
        </helpers>
    </global>
</config>