<?xml version="1.0"?>
<config>
    <modules>
        <Magehit_Newproducts>
            <version>1.0.0</version>
        </Magehit_Newproducts>
    </modules>
    <frontend>
        <routers>
            <newproducts>
                <use>standard</use>
                <args>
                    <module>Magehit_Newproducts</module>
                    <frontName>newproducts</frontName>
                </args>
            </newproducts>
        </routers>
        <layout>
            <updates>
                <festock>
                    <file>magehit_newproducts.xml</file>
                </festock>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <newproducts>
                <class>Magehit_Newproducts_Helper</class>
            </newproducts>
        </helpers>
        <blocks>
            <newproducts>
                <class>Magehit_Newproducts_Block</class>
            </newproducts>
        </blocks>
        <models>
            <newproducts>
                <class>Magehit_Newproducts_Model</class>
                <resourceModel>newproducts_mysql4</resourceModel>
            </newproducts>
        </models>
        <resources>
            <newproducts_setup>
                <setup>
                    <module>Magehit_Newproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </newproducts_setup>
            <newproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newproducts_write>
            <newproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newproducts_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <newproducts>
                                            <title>Store New Products option</title>
                                        </newproducts>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <newproducts>
            <genneral_setting>
                <enabled>1</enabled>
                <jqueryinclude>0</jqueryinclude>
            </genneral_setting>
			<horizontal_carousels_setting>
				<title>New Products</title>
				<product_no>20</product_no>
				<slide_itemsonpage>4</slide_itemsonpage>
				<slide_auto>1</slide_auto>
				<slide_navigation>1</slide_navigation>
			</horizontal_carousels_setting>
			<vertical_carousels_setting>
				<title>New Products</title>
				<product_no>10</product_no>
				<slide_itemsonpage>1</slide_itemsonpage>
				<slide_auto>1</slide_auto>
				<slide_navigation>1</slide_navigation>
			</vertical_carousels_setting>
        </newproducts>
    </default>
</config> 
