<?xml version="1.0"?>
<config>
    <modules>
        <Magehit_Bestseller>
            <version>0.1.0</version>
        </Magehit_Bestseller>
    </modules>
    <frontend>
        <routers>
            <bestseller>
                <use>standard</use>
                <args>
                    <module>Magehit_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </bestseller>
        </routers>
        <layout>
            <updates>
                <bestseller>
                    <file>magehit_bestseller.xml</file>
                </bestseller>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <bestseller>
                <class>Magehit_Bestseller_Helper</class>
            </bestseller>
        </helpers>
        <blocks>
            <bestseller>
                <class>Magehit_Bestseller_Block</class>
            </bestseller>
        </blocks>
        <models>
            <bestseller>
                <class>Magehit_Bestseller_Model</class>
                <resourceModel>bestseller_resource</resourceModel>
            </bestseller>
            <bestseller_resource>
                <class>Magehit_Bestseller_Model_Resource</class>
            </bestseller_resource>
        </models>
        <resources>
            <bestseller_setup>
                <setup>
                    <module>Magehit_Bestseller</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestseller_setup>
            <bestseller_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestseller_write>
            <bestseller_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestseller_read>
        </resources>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bestseller>
                                            <title>Store Best Seller option</title>
                                        </bestseller>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <bestseller>
            <genneral_setting>
                <enabled>1</enabled>
                <jqueryinclude>0</jqueryinclude>
            </genneral_setting>
			<horizontal_carousels_setting>
				<title>Best Seller Products</title>
				<product_no>20</product_no>
				<slide_itemsonpage>4</slide_itemsonpage>
				<slide_auto>1</slide_auto>
				<slide_navigation>1</slide_navigation>
			</horizontal_carousels_setting>
			<vertical_carousels_setting>
				<title>Best Seller Products</title>
				<product_no>10</product_no>
				<slide_itemsonpage>1</slide_itemsonpage>
				<slide_auto>1</slide_auto>
				<slide_navigation>1</slide_navigation>
			</vertical_carousels_setting>
        </bestseller>
    </default>
</config> 
