<?xml version="1.0"?>
<config>
    <modules>
        <Magecheckout_SecuredCheckout>
            <version>2.0.0</version>
            <platform>ce</platform>
        </Magecheckout_SecuredCheckout>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magecheckout_SecuredCheckout after="Mage_Adminhtml">Magecheckout_SecuredCheckout_Adminhtml</Magecheckout_SecuredCheckout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <securedcheckout>
                    <file>magecheckout/securedcheckout.xml</file>
                </securedcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magecheckout_SecuredCheckout>
                    <files>
                        <default>Magecheckout_SecuredCheckout.csv</default>
                    </files>
                </Magecheckout_SecuredCheckout>
            </modules>
        </translate>
        <events>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <securedcheckout_system_config_save>
                        <type>singleton</type>
                        <class>securedcheckout/adminhtml_observer</class>
                        <method>adminhtmlSystemConfigSave</method>
                    </securedcheckout_system_config_save>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
            <controller_action_layout_load_before>
                <observers>
                    <securedcheckout_checkout_layout_load_before>
                        <type>singleton</type>
                        <class>securedcheckout/adminhtml_observer</class>
                        <method>loadLayoutBefore</method>
                    </securedcheckout_checkout_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </adminhtml>
    <frontend>
        <secure_url>
            <securedcheckout_index>/onestepcheckout/index</securedcheckout_index>
            <securedcheckout_ajax>/onestepcheckout/ajax</securedcheckout_ajax>
        </secure_url>
        <layout>
            <updates>
                <!--Shipping Method-->
                <securedcheckout_pook_collectinstore module="Pook_CollectInStore">
                    <file>magecheckout/securedcheckout/compatible/shipping/pook_collectinstore.xml</file>
                </securedcheckout_pook_collectinstore>
                <!--/Shipping Method-->
                <securedcheckout>
                    <file>magecheckout/securedcheckout.xml</file>
                </securedcheckout>
            </updates>
        </layout>
        <routers>
            <!--Change Router to onestepcheckout_index_index to solve integration-->
            <onestepcheckout>
                <use>standard</use>
                <args>
                    <module>Magecheckout_SecuredCheckout</module>
                    <frontName>securecheckout</frontName>
                </args>
            </onestepcheckout>
        </routers>
        <events>
            <controller_action_predispatch_checkout>
                <observers>
                    <securedcheckout_checkout_controller_predispatch>
                        <type>singleton</type>
                        <class>securedcheckout/observer</class>
                        <method>controllerActionPredispatchCheckout</method>
                    </securedcheckout_checkout_controller_predispatch>
                </observers>
            </controller_action_predispatch_checkout>
            <checkout_submit_all_after>
                <observers>
                    <securedcheckout_checkout_submit_all_after>
                        <type>singleton</type>
                        <class>securedcheckout/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </securedcheckout_checkout_submit_all_after>
                </observers>
            </checkout_submit_all_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <securedcheckout_onepage_save_order_after>
                        <type>singleton</type>
                        <class>securedcheckout/observer</class>
                        <method>checkoutTypeOnepageSaveOrderAfter</method>
                    </securedcheckout_onepage_save_order_after>
                </observers>
            </checkout_type_onepage_save_order_after>
            <paypal_prepare_line_items>
                <observers>
                    <magecheckout_onstepcheckout_paypal_prepare_line_items>
                        <type>singleton</type>
                        <class>securedcheckout/observer</class>
                        <method>paypalPrepareLineItems</method>
                    </magecheckout_onstepcheckout_paypal_prepare_line_items>
                </observers>
            </paypal_prepare_line_items>
            <core_layout_update_updates_get_after>
                <observers>
                    <securedcheckout_core_layout_update_updates_get_after>
                        <class>securedcheckout/observer</class>
                        <method>compatibleExtensions</method>
                    </securedcheckout_core_layout_update_updates_get_after>
                </observers>
            </core_layout_update_updates_get_after>
            <!-- for compatibility with Paypal Hosted Pro -->
            <controller_action_postdispatch_onestepcheckout_checkout_saveOrder>
                <observers>
                    <securedcheckout_osc_placeorder_controller_postdispatch>
                        <class>securedcheckout/observer</class>
                        <method>securedCheckoutSaveOrder</method>
                    </securedcheckout_osc_placeorder_controller_postdispatch>
                </observers>
            </controller_action_postdispatch_onestepcheckout_checkout_saveOrder>
            <core_layout_block_create_after>
                <observers>
                    <securedcheckout_core_layout_block_create_after>
                        <class>securedcheckout/observer</class>
                        <method>coreLayoutBlockCreateAfter</method>
                    </securedcheckout_core_layout_block_create_after>
                </observers>
            </core_layout_block_create_after>
        </events>
        <translate>
            <modules>
                <Magecheckout_SecuredCheckout>
                    <files>
                        <default>Magecheckout_SecuredCheckout.csv</default>
                    </files>
                </Magecheckout_SecuredCheckout>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <securedcheckout>
                <class>Magecheckout_SecuredCheckout_Block</class>
            </securedcheckout>
        </blocks>
        <models>
            <securedcheckout>
                <class>Magecheckout_SecuredCheckout_Model</class>
                <resourceModel>securedcheckout_mysql4</resourceModel>
            </securedcheckout>
            <securedcheckout_mysql4>
                <class>Magecheckout_SecuredCheckout_Model_Mysql4</class>
            </securedcheckout_mysql4>
        </models>
        <resources>
            <magecheckout_securedcheckout_setup>
                <setup>
                    <module>Magecheckout_SecuredCheckout</module>
                    <class>Magecheckout_SecuredCheckout_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magecheckout_securedcheckout_setup>
            <securedcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </securedcheckout_write>
            <securedcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </securedcheckout_read>
        </resources>
        <helpers>
            <securedcheckout>
                <class>Magecheckout_SecuredCheckout_Helper</class>
            </securedcheckout>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <giftwrap>
                        <class>securedcheckout/total_quote_giftwrap</class>
                        <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    </giftwrap>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <giftwrap>
                        <class>securedcheckout/total_invoice_giftwrap</class>
                        <after>grand_total</after>
                    </giftwrap>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <giftwrap>
                        <class>securedcheckout/total_creditmemo_giftwrap</class>
                        <after>grand_total</after>
                    </giftwrap>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <giftwrap translate="title">
                    <title>Gift wrap</title>
                    <source_field>giftwrap_amount</source_field>
                    <model>securedcheckout/total_pdf_giftwrap</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>450</sort_order>
                </giftwrap>
            </totals>
        </pdf>
        <fieldsets>
            <sales_convert_quote_address>
                <mc_giftwrap_amount>
                    <to_order>*</to_order>
                </mc_giftwrap_amount>
                <mc_giftwrap_base_amount>
                    <to_order>*</to_order>
                </mc_giftwrap_base_amount>
            </sales_convert_quote_address>
            <sales_convert_quote_item>
                <mc_giftwrap_amount>
                    <to_order_item>*</to_order_item>
                </mc_giftwrap_amount>
                <mc_giftwrap_base_amount>
                    <to_order_item>*</to_order_item>
                </mc_giftwrap_base_amount>
            </sales_convert_quote_item>
        </fieldsets>
        <securedcheckout>
            <actions>
                <saveAddressTrigger>
                    <shipping_method>one.step.checkout.container.form.shipping.method.available</shipping_method>
                    <payment_method>one.step.checkout.container.form.payment.method</payment_method>
                    <review_cart>one.step.checkout.container.form.review.items</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </saveAddressTrigger>
                <saveShippingMethod>
                    <payment_method>one.step.checkout.container.form.payment.method</payment_method>
                    <review_cart>one.step.checkout.container.form.review.items</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </saveShippingMethod>
                <savePayment>
                    <review_cart>one.step.checkout.container.form.review.items</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </savePayment>
                <ajaxCartItem>
                    <shipping_method>one.step.checkout.container.form.shipping.method.available</shipping_method>
                    <payment_method>one.step.checkout.container.form.payment.method</payment_method>
                    <review_cart>one.step.checkout.container.form.review.items</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                    <cart_sidebar>minicart_head</cart_sidebar>
                </ajaxCartItem>
                <applyGiantPoints>
                    <shipping_method>one.step.checkout.container.form.shipping.method.available</shipping_method>
                    <payment_method>one.step.checkout.container.form.payment.method</payment_method>
                    <review_cart>one.step.checkout.container.form.review.items</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </applyGiantPoints>
                <addGiftWrap>
                    <shipping_method>one.step.checkout.container.form.shipping.method.available</shipping_method>
                    <payment_method>one.step.checkout.container.form.payment.method</payment_method>
                    <review_cart>one.step.checkout.container.form.review.items</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </addGiftWrap>
                <saveCoupon>
                    <shipping_method>one.step.checkout.container.form.shipping.method.available</shipping_method>
                    <payment_method>one.step.checkout.container.form.payment.method</payment_method>
                    <review_cart>one.step.checkout.container.form.review.items</review_cart>
                </saveCoupon>
            </actions>
            <blocks>
                <shipping_method>#one-step-checkout-shipping-method .shipping-methods</shipping_method>
                <payment_method>#one-step-checkout-payment-method .one-step-checkout-payment-methods</payment_method>
                <review_cart>.one-step-checkout-order-review-cart</review_cart>
                <review_coupon>#one-step-checkout-review-coupon</review_coupon>
                <cart_sidebar>.header-minicart</cart_sidebar>
            </blocks>
        </securedcheckout>
    </global>
    <default>
        <securedcheckout>
            <general>
                <is_enabled>1</is_enabled>
                <allow_ship_to_defferent_address>1</allow_ship_to_defferent_address>
                <title>Secure Checkout</title>
                <router_name>securecheckout</router_name>
                <description>Please enter your details below to complete your purchase.</description>
                <is_block_numbering>1</is_block_numbering>
                <auto_detect_address>google</auto_detect_address>
                <pca_website_key><![CDATA[AA11-AA11-AA11-AA11]]></pca_website_key>
                <pca_country_lookup>1</pca_country_lookup>
                <disable_custom_css>1</disable_custom_css>
            </general>
            <display_configuration>
                <is_enabled_review_cart_section>1</is_enabled_review_cart_section>
                <is_show_product_image>1</is_show_product_image>
                <product_image_width>75</product_image_width>
                <product_image_height>75</product_image_height>
                <is_show_edit_cart_link>1</is_show_edit_cart_link>
                <is_enabled_coupon>1</is_enabled_coupon>
                <display_apply_coupon_button>1</display_apply_coupon_button>
                <is_enabled_giftmessage>1</is_enabled_giftmessage>
                <is_enabled_comments>1</is_enabled_comments>
                <is_enabled_newsletter>1</is_enabled_newsletter>
                <is_enabled_related_products>0</is_enabled_related_products>
                <is_enabled_morph_effect>0</is_enabled_morph_effect>
            </display_configuration>
            <design_configuration>
                <page_layout>3columns</page_layout>
                <is_show_numbering>0</is_show_numbering>
                <heading_style>style_3</heading_style>
                <style_color><![CDATA[black]]></style_color>
                <style_heading_custom><![CDATA[616161]]></style_heading_custom>
                <place_order_color><![CDATA[616161]]></place_order_color>
                <place_order_color>3398CC</place_order_color>
            </design_configuration>
        </securedcheckout>
    </default>
</config>