<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Magehit_AjaxSearch>
            <version>1.2.0</version>
        </Magehit_AjaxSearch>
    </modules>
    <global>
        <blocks>
            <ajaxsearch>
                <class>Magehit_AjaxSearch_Block</class>
            </ajaxsearch>
        </blocks>
        <helpers>
            <ajaxsearch>
                <class>Magehit_AjaxSearch_Helper</class>
            </ajaxsearch>
        </helpers>
        <models>
            <ajaxsearch>
                <class>Magehit_AjaxSearch_Model</class>
                <resourceModel>ajaxsearch_mysql4</resourceModel>
            </ajaxsearch>
            <ajaxsearch_mysql4>
                <class>Magehit_AjaxSearch_Model_Mysql4</class>
            </ajaxsearch_mysql4>
        </models>
        <resources>
            <ajaxsearch_setup>
                <setup>
                    <module>Magehit_AjaxSearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxsearch_setup>
            <ajaxsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxsearch_write>
            <ajaxsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxsearch_read>
        </resources>
    </global>
    <default>
        <ajax_search>
            <general>
                <enabled>1</enabled>
                <show_category_filter>0</show_category_filter>
                <minchars>3</minchars>
                <maxheight>300</maxheight>
                <width>300</width>
                <searchfieldtext>Search entire store here...</searchfieldtext>
                <searchfieldwidth>300</searchfieldwidth>
                <searchfieldheight>40</searchfieldheight>
                <keywordcolor>#F00F00</keywordcolor>
                <productstoshow>10</productstoshow>
                <enableloader>1</enableloader>
                <sortby>name</sortby>
                <sortorder>asc</sortorder>
                <enabledescription>1</enabledescription>
                <descriptionchars>50</descriptionchars>
                <enableimage>1</enableimage>
                <imageheight>50</imageheight>
                <imagewidth>50</imagewidth>
                <enableleft>0</enableleft>
                <enableright>0</enableright>
                <enableheadertext>0</enableheadertext>
                <headertext>View all result on</headertext>
				<enablefootertext>1</enablefootertext>
                <footertext>View all result on</footertext>
                <enablecatalog>0</enablecatalog>
                <enablecms>0</enablecms>
            </general>
        </ajax_search>
    </default>
    <frontend>
        <layout>
            <updates>
                <ajaxsearch>
                    <file>magehit_ajaxsearch.xml</file>
                </ajaxsearch>
            </updates>
        </layout>
        <routers>
            <ajaxsearch>
                <use>standard</use>
                <args>
                    <module>Magehit_AjaxSearch</module>
                    <frontName>ajaxsearch</frontName>
                </args>
            </ajaxsearch>
        </routers>
        <translate>
            <modules>
                <Magehit_Ajaxsearch>
                    <files>
                        <default>Magehit_Ajaxsearch.csv</default>
                    </files>
                </Magehit_Ajaxsearch>
            </modules>
        </translate>
   </frontend>
   <adminhtml>
        <translate>
            <modules>
                <Magehit_Ajaxsearch>
                    <files>
                        <default>Magehit_Ajaxsearch.csv</default>
                    </files>
                </Magehit_Ajaxsearch>
            </modules>
        </translate>
		<menu>
		    <ajaxsearch module="ajaxsearch">
			<title>Advanced Search</title>
			<sort_order>71</sort_order>               
			<children>
				<configuration module="ajaxsearch">
					<title>Configuration</title>
					<sort_order>10</sort_order>
					<action>adminhtml/system_config/edit/section/ajax_search</action>
				</configuration>
			</children>
		    </ajaxsearch>
		</menu>
    </adminhtml>
</config>
