@import "stylesheets/bootstrap";
/* TopBar */
#topbar {

  color: #A92000;
  font-size: 12px;
  padding: 10px 0 0;
  border-bottom: 3px solid #FA9221;
}
#topbar ul {
  margin: 5px 0 0;
}
a {
  color: #A92000;
  font-size: 15px;
}
#topbar a:hover {
  color: #A92000;
}
#topbar .user-links .welcome {
  padding: 10px;
}
#topbar .user-links ul {
  background: none repeat scroll 0 0 #FA9221;
  margin: 0;
  padding: 10px;
}

#topbar .user-links a {
  color: Red;
}
.float {
  float: left;
}
/* Navbar */
.navbar {
  border: 0 none;
  border-radius: 0;
  margin: 0;
  border-bottom: 3px solid #E7E7E7;
}
.navbar .navbar-form {
  padding-right: 10px;
}
.navbar-nav {
}
.navbar-default .navbar-nav > li:hover > a {
  background: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.176);
}
.navbar ul.level0, .navbar ul.level1 {
  display: none;
  text-align: left;
}
.navbar .dropdown-menu {
  border: 0;
}
.navbar ul.level1 {
  left: 150px;
  top: 0;
}
.navbar-nav > li {
  display: inline-block;
}

.footer ul li {
  list-style-type: none;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;

  float: none;
}
.vbottom {
  display: inline-block;
  vertical-align: bottom;

  float: none;
}
.searchbox {
  height: 3em;
}
.searchimg {
  background: none;
}
.cartbox {
  height: 3em;
}

.logobox {
  height: 7em;
}
.searchtextbox {
  padding: 3px;
  font-size: 16px;
  border-style: solid;
  border-width: 0px;
  height:35px;
  width:350px;
  border-radius: 7px;
  color:#CCCCCC;
  margin : 0px 0px 0px 80px;

  box-shadow: inset 0px 0px 8px 0px #cccccc;
  border-color: #cccccc;
}
.searchtextbox:focus {
  outline: none;
}
.smallheader
{
  margin-top: 2em;
}

/* homepg prod css */
.OuterDiv {
  width: 100%;
  height: 50%;

}

.holder {
  width: 45%;
  height: 45%;
  display: inline-block;
  border: 1px solid red;
  margin: 10px;
}

.holderright {
  width: 45%;
  height: 50%;
  min-height: 500px;
  float: left;
  border: 1px solid red;
  margin: 10px;
}

.gray{
  height:100%;
}

.holderleft {

  height: 100%;

  float: left;
  border: 1px solid ;

}

.width30 {
  width: 30%;
  height: auto;
}

.width50 {
  width: 90%;
  height: 90%;
}

.width25 {
  width: 25%;
  height: 25%;
}

.product-image-LeftBlock {
  height: 100%;
}

@media only screen and (min-width: 1000px) and (max-width: 1070px) {
  .OuterDiv {
    width: 90%;
  }

  .holder {
    float: left;
    width: 45%;
  }

  .holderleft {
    float: left;
    width: 100%;
    min-width: 200px;
  }

  .holderright {
    float: left;
    width: 100%;
    border: solid;
    min-width: 200px;
  }

  .width50 {
    width: 90%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .OuterDiv {
    width: 90%;
  }

  .holder {
    float: left;
    width: 90%;
    margin: 0 10px;
  }

  .holderleft {
    float: left;
    width: 100%;
    min-width: 500px;
  }

  .holderright {
    float: left;
    background-color: aqua;
    width: 100%;
    min-width: 400px;
  }

  .width50 {
    width: 90%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 600px) {
  .OuterDiv {
    width: 90%;
  }

  .holder {
    float: left;
    min-width: 200px;
    width: 80%;
    margin: 0 10px;
  }

  .holderleft {
    float: left;
    width: 100%;
    min-width: 400px;
  }

  .holderright {
    float: left;
    background-color: aqua;
    width: 100%;
    min-width: 400px;
  }

  .width50 {
    width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .OuterDiv {
    width: 90%;
    padding: 0 10px;
  }

  .holder {
    float: left;
    min-width: 280px;
    width: 90%;
    align-content: center;
    margin: auto auto;
  }

  .holderleft {
    float: left;
    width: 100%;
    min-width: 400px;
  }

  .holderright {
    float: left;
    min-width: 400px;
    width: 100%;
    border: solid;
    margin-left: auto;
    margin-right: auto;
  }

  .width50 {
    min-width: 300px;
  }
}

/* product widget list header */
$red :#DF3D5C;
$yellow: #F3961E;
$purple: #A1438D;
$gray: #5B5B5B;



.subheader {
  font-size: 4vmin;
  color:$gray;
  height: 60px;
}
.subheader a{
  color: black;
}

.firstH{
  @extend .subheader;
  background-color: $red;
}

.secondH{
  @extend .subheader;
  background-color: $yellow;
}

.thirdH{
  @extend .subheader;
  background-color: $purple;
}

.fourthH{
  @extend .subheader;
  background-color: $red;
}

.fifthH{
  @extend .subheader;
  background-color: $yellow;
}

.sixthH{
  @extend .subheader;
  background-color: $gray;
}

.Hpadding{
  padding: 0em 0em 0em 0em;
  margin: 0em 0em 0em 0em;
}

.subcontent{
  height:600px;
}

.sub-padding{
  padding: 10px 0em 0em 0.5em;
  margin: 0em 0em 0em 0em;
}

.subpadding
{
  padding: 10px 0em 0em 0em;
  margin: 0em 0em 0em 0em;
}

._sub-padding{
  padding: 10px 0em 0em 0em;
  margin: 0em 0em 0em 0em;
}

._subpadding{
  padding: 10px 0em 0em 0.5em;
  margin: 0em 0em 0em 0em;
}

.Exclusivee {
  background: #F3961E;
  font-size: 4vmin;
  font-color: #5B5B5B;
  width: 100%;
}

.Exclusivee a {
  color: black;
}

.ProductHeader {
  background: #A1438D;
  font-size: 4vmin;
  font-color: #5B5B5B;
  width: 100%;
}
.ProductHeader a {
  color: white;
}

.ArtistHeader {
  background: #DF3D5C;
  font-size: 4vmin;
  width: 100%;
}
.ArtistHeader a {
  color: black;
}

.DesignerHeader {
  background: #F3961E;
  font-size: 4vmin;
  width: 100%;
}
.DesignerHeader a {
  color: white;
}

.TidingHeader {
  background: #5B5B5B;
  font-size: 4vmin;
  width: 100%;
}
.TidingHeader a {
  color: black;
}

.module, .Exclusivee, .ProductHeader, .ArtistHeader, .DesignerHeader, .TidingHeader, .exclusive .headercolor, .deals .headercolor {
  height: 50px;
  width: 100%;
}

.exclusive {
  width: 100%;
  height: 100%;
}
.exclusive .headercolor {
  background: #F3961E;
}

.deals {
  width: 100%;
  height: 100%;
}
.deals .headercolor {
  background: #DF3D5C;
}

.headercolor a {
  font-size: 4vmin;
  color: white;
}

.left {
  width: 46%;
  text-align: left;
  float: left;
  padding-left: 5%;
}

.right {
  float: left;
  width: 46%;
  margin-left: 12px;
  padding-right: 1%;
  text-align: right;
}

@media only screen and (max-width: 580px) {
  .left {
    display: inline-block;
    float: left;
    width: 45%;
    padding-right: 4%;
  }

  .right {
    padding-left: 4%;
    width: 45%;
    float: left;
  }
}

/* grid subcategory */
*, *:before, *:after {box-sizing:  border-box !important;}


.rGrid {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 1em;
  -webkit-column-gap:1em;

}

.item{
  display: inline-block;
  padding: .25rem;
  width:  100%;
}

.well {
  position:relative;
  display: block;
}
/** Category Page **/
.category-products{
  width:380px;
}
.product-img-box
{
  margin: 5px 25px 5px 25px;
  border: none;
  border-radius: 0px;
  border: solid 1px #DDD;
  height: auto;
}

.list-group-item:first-child
{
  border:none;
  border-radius:0px;
  border-radius:0px;

}
.product-description
{
  margin-left: 10px;
  margin-right: 10px;

}
.swatches
{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.box-border
{
  border-radius: 0px;
  padding: 0 0 0 0 ;


}

.row .swatches .col-xs-4 {
  padding: 0;
}

.row .swatches .col-xs-4 a {
  margin-bottom: 0;
}

.Hpadding{
  padding: 0em 0em 0em 0em;
  margin: 0em 0.1em 0em 0.1em;
}
.product-category-profile
{
  border:solid 1px #DDD;
  height: 60px;
}
.product-owner
{
  margin-left: 1px;
  margin-right: 1px;
}
.lightborder
{
  border:solid 1px #DDD;
}
.swatchesrow
{

  margin-left: 1px;
  margin-right: 1px;
  background:#ECECEC;
  border-bottom: solid 1px #DDD;
  height: 120px;
}
.pricerow
{
  margin-left: 1px;
  margin-right: 1px;
  background:#ECECEC;
}
.list-group-item
{

  border: solid black;
}
.subcategories li { float: left; display: block; text-align: center; margin: 10px}
.subcategories li span { display: block; margin: 8px 0}
/** End category Page **/
/** Login modal css*/
.modal-dialog{
  width: 800px;

}
.modal-content {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.modal-header
{
  border-bottom: none;
}
.modal-body {
  max-height: 350px;
  padding: 15px;
  overflow-y: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.modal {
  position: fixed;
  top: 3%;
  right: 3%;
  left: 3%;
  width: auto;
  margin: 0;
}


/** End modal css*/
/** MinI Login Css */
.login-textbox {
  box-shadow: 0px 0px 2px 0px orange;
  border: solid orange 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 28px;
}
.Artybutton
{
  background: orange;color: White;
  border: 0 none;

  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 12px 45px;
  text-transform: none;

  transition: all 100ms ease-in-out;

  width: auto;
  text-align: center;
}
.login-font
{
  color:lightgrey;
}
.Login-header
{
  height: 50px;
  font-size: 25px;
  color:lightgrey;
}
.row-height
{
  height: 50px;
}
/** My Account Navigation **/
.block-account ul
{
  border:solid;
}
.block-account ul li{

  margin: 5px 0 5px 25px ;
}
.dobtxtbox
{
 //  width: 70px;
  line-height: 15px;
  border:solid 1px orange;
}
.genderpage
{
padding-left: 4%;
}
/*select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';

}*/
.span {
  position: relative;
  //width:15px;
  //padding: 0.5px 0.5px 0.5px 0.5px;
}
.span:after {
  height: 100%;
  content: ' ';
  text-align: center;
  position: absolute;
  top: 1px;
  width: 15px;
  background: white;
  border: none !important;
  background-image: url("../images/ddl.png");
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  right: 0px;
  line-height: 15px;
  padding-right: 0.2px;
  pointer-events: none;
}
.date
{
border: none !important;
}
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

/**logo**/
.logo {
  display: block;
  float: left;
  width: 100%;
  min-width: 100px;
  min-height: 44px;
  text-align: center;

  img {
    max-width: 100%;
  }

  .small {
    display: block;
  }
  .large {
    display: none;
  }
}

.logo:hover {
  opacity: 0.8;
}



/******** cart *********/

.minicart-wrapper {

  clear: both;

}

.skip-content {
  display: none;
}

.skip-content.skip-active {
  display: block;

}


/*** navbar ***/


/* nav - container*/
.nav-container {

  background: white;
}

.f-nav {

  z-index: 9999;
  position: relative;
  left: 120px;
  right: 140px;
  top: 0;
}

.nav {

  height: 42px;
}

.nav ul {
  list-style: none;
}

.nav ul li {
  float: left;
  margin-top: 6px;
  padding: 6px;
  border-right: 1px solid #ACACAC;
}

.nav ul li:first-child {
  padding-left: 0;
}

.nav ul li a {
}

.nav ul li a:hover {
  text-decoration: none;
}

/**header scroll*/
#header_nav {

  width:100%;
  height:100px;
  background-color:#666;
  position:static;
  top:0;
  left:0;
}

#header-cart.skip-active {
  border: 1px solid #CCC;
  display: block;
  z-index: 200;
  top: 40px;
  right: 0px;
  width: 320px;
  background: #FFF none repeat scroll 0% 0%;
  position: absolute;
}

.skip-cart {
  width: auto;
  padding: 0px 10px;
}

#header-cart.skip-active {
  border: 1px solid #CCC;
  display: block;
  position: absolute;
  z-index: 200;
  top: 40px;
  right: 0px;
  width: 320px;
  background: #FFF
}
.header-minicart #minicart-error-message {
  text-align: center;
  color: #F00;
  display: none;
}
.header-minicart #minicart-success-message {
  text-align: center;
  color: #008000;
  display: none;
}
.header-minicart .block-subtitle {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.4;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 0px;
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.header-minicart .mini-products-list {
  padding: 0px 10px 10px;
}
.header-minicart .mini-products-list li.last {
  padding: 8px 5px 8px 11px;
  border-bottom: 1px solid #DDD;
  position: relative;

}

.header-minicart .mini-products-list li {
  padding: 8px 5px 8px 11px;
  border-bottom: 1px solid #DDD;
  position: relative;

}
.header-minicart .minicart-actions {
  position: relative;
  overflow: hidden;
  margin-top: 0px;
  padding: 10px;
  text-align: center;

}
.checkout-types.minicart {
  float: none;
  text-align: center;
}
.header-minicart .subtotal {
  color: coral;
  text-align: center;
  line-height: 2em;
  background: lightgrey;
}
.block-content {
  margin-top: 5px;
}
.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: coral;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.truncated,
.truncated a.dots {
  cursor: help;
}

.truncated a.details {
  cursor: help;
  height: 16px;
  line-height: 16px;
}
.truncated a.details:hover {
  text-decoration: none;
}
.truncated, .truncated a.dots {
  cursor: help;
}

.truncated .truncated_full_value {
  position: relative;
  z-index: 300;
}
.item-options {
  font-size: 14px;
  font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}
.item-options:after {
  content: '';
  display: table;
  clear: both;
}
.item-options dt {
  float: left;
  clear: left;
  font-weight: 600;
  padding-right: 5px;
  font-style: italic;
}
.item-options dt:after {
  content: ': ';
}
.item-options dd {
  float: left;
  padding-left: 10px;
  margin: 0 0 6px;
}
.product-image {
  float:left;
  border : 1px grey solid;

}
.product-details
{
  padding-left:  5px;
}
.checkout-types.minicart {
  float: none;
  text-align: center;
}
.ul, ol {
  margin-top: 0px;
  margin-bottom: 10px;
}

.cart-input-text {
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #C0C0C0;
  background: #FFFFFF;
  font-size: 15px;
  width: 50%;


}