<?xml version="1.0"?>
<config>
    <modules>
        <PaulDonnelly_Mobile>
            <version>0.1.0</version>
        </PaulDonnelly_Mobile>
    </modules>
    <global>
        <helpers>
            <mobile>
                <class>PaulDonnelly_Mobile_Helper</class>
            </mobile>
        </helpers>
        <models>
            <mobile>
                <class>PaulDonnelly_Mobile_Model</class>
                <resourceModel>mobile_mysql4</resourceModel>
            </mobile>
        </models>
        <resources>
            <mobile_setup>
                <setup>
                    <module>PaulDonnelly_Mobile</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobile_setup>
            <mobile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobile_write>
            <mobile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobile_read>
        </resources>
    </global>
</config>