<?xml version="1.0"?>
<config>
    <modules>
        <Arty_Review>
            <version>0.1.0</version>
        </Arty_Review>
    </modules>
    <global>
        <models>
            <arty_review>
                <class>Arty_Review_Model</class>
                <resourceModel>arty_review_resource</resourceModel>
            </arty_review>
            <arty_review_resource>
                <class>Arty_Review_Model_Resource</class>
            </arty_review_resource>
        </models>
        <blocks>
            <review>
                <rewrite>
                    <arty_review>
                        <class>Arty_Review_Block</class>
                    </arty_review>
                </rewrite>
            </review>
        </blocks>
        <helpers>
            <arty_review>
                <class>Arty_Review_Helper</class>
            </arty_review>
        </helpers>
    </global>
    <frontend>
        <routers>
            <reviewarty>
                <use>standard</use>
                <args>
                    <module>Arty_Review</module>
                    <frontName>productreview</frontName>
                </args>
            </reviewarty>
        </routers>
        <layout>
            <updates>
                <arty_review>
                    <file>local.xml</file>
                </arty_review>
            </updates>
        </layout>
    </frontend>
</config>