/*===================================================================
|                            CONFIGUARATION STYLE                    |
====================================================================*/
/*General*/
#magecheckout-one-step-checkout button.button,
.one-step-checkout-popup button.button,#one-step-checkout-login-popup button.button span,
{
background: #3399cc}
/*Heading Style*/
.tclose{
color: #FFFFFF}
        #magecheckout-one-step-checkout .onestep-title,#magecheckout-one-step-checkout .onestep-title-number{
        background-color: #3399cc;
        margin: 0 -12px 12px -12px;
        }
        .onestep-title-number .one-step-checkout-number{
        color: #FFFFFF        }
        .one-step-checkout-popup .onestep-title
        {
        background-color: #3399cc;
        }
        #magecheckout-one-step-checkout .onestep-title h2,.one-step-checkout-popup .onestep-title h2{
        padding: 0 12px;
        }
        #magecheckout-one-step-checkout .onestep-title-number h2 {
        padding-top: 3px;
        padding-left: 25px;
        }
            #magecheckout-one-step-checkout .onestep-title h2,#magecheckout-one-step-checkout .onestep-title-number h2,
    .one-step-checkout-popup .onestep-title h2
    {
    color: #FFFFFF !important;
    }

/*Button*/
#magecheckout-one-step-checkout .button,#one-step-checkout-login-popup .button{
background-color: #3399cc}
/*Billing Information*/

#magecheckout-one-step-checkout .customer-name .name-firstname {
width: 50%;
}

#magecheckout-one-step-checkout .customer-name .name-lastname {
width: 50%;
}
#magecheckout-one-step-checkout #one-step-checkout-place-order .button{
background: #3398CC}
#magecheckout-one-step-checkout .button-action{
background-color: #3399cc}
/*=======STATIC BLOCK========*/
.static-right-content .sv-onstep > a:hover,
.img-static-onstep .img-st-onstep > a:hover{
border-color:#3399cc;
}

.happy-customer-onstep  .customer-info-onestep .name-customer a:hover{
color:#3399cc;
}
/*Fix for version <1.9*/
/*Fix for enterprise version*/
/*===================================================================
|                           END CONFIGUARATION STYLE                 |
====================================================================*/


/*===================================================================
|                           Custom STYLE                             |
====================================================================*/
/*===================================================================
|                           End Custom STYLE                         |
====================================================================*/