<?xml version="1.0"?>
<config>
    <modules>
        <Arty_Catalog>
            <version>0.1.0</version>
        </Arty_Catalog>
    </modules>
    <global>
        <models>
            <arty_catalog>
                <class>Arty_Catalog_Model</class>
                <resourceModel>arty_catalog_resource</resourceModel>
            </arty_catalog>
            <arty_catalog_resource>
                <class>Arty_Catalog_Model_Resource</class>
            </arty_catalog_resource>
        </models>
        <blocks>
            <arty_catalog>
                <class>Arty_Catalog_Block</class>
            </arty_catalog>
        </blocks>
        <helpers>
            <arty_catalog>
                <class>Arty_Catalog_Helper</class>
            </arty_catalog>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
            <arty_catalog>
                <file>local.xml</file>
            </arty_catalog>
            </updates>
        </layout>
    </frontend>
</config>