.chkavl {
    clear: both;
    float: left;
    margin: 5px;
}.check-avail {
    color: #EE8827;
    float: left;
    margin-top: 0;
}.check-avail a {
    color: #EE8827;
}.check-avail a {
    text-decoration: none;
}.pinonly {
    font-weight: bold;
}#check-data {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #808080;
    display: none;
    float: right;
    margin-top: 20px;
    padding: 6px;
    position: absolute;
    text-align: left;
    width: 238px;
    z-index: 99;
}.check-input {
    border: 1px solid #CCCCCC;
    font-family: inherit;
    font-size: 13px;
    padding: 5px 6px;
    resize: none;
    width: 159px;
}.check-data {
    float: right;
    margin-left: 176px;
    margin-top: -29px;
    position: absolute;
}.btn.btn-gray {
    background: linear-gradient(to bottom, #888888 1%, #C2C2C2 3%, #335A69 7%, #335A69 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #333333;
    color: #F9F9F9;
    font-size: 11px;
    padding: 6px 12px;
}.check-data #loader {
    margin-left: 5px;
    margin-top: 6px;
}#location_msg {
    background: none repeat scroll 0 0 #FCE7E7;
    border: 1px solid #BB0000;
    clear: both;
    color: #BB0000;
    float: left;
    margin: 4px 0;
    padding: 3px;
}
#location_msg_avl {
  background: none repeat scroll 0 0 #D0F7C8;
  border: 1px solid #197704;
  clear: both;
  color: #197704;
  float: left;
  margin: 4px 0;
  padding: 3px;
}
.cart #location_msg {
  
  float: none !important;
  text-align: center;
  font-weight: bold;
  
}
.unservicable-warning {
  
  float: none !important;
  font-size: 15px;
  text-align: center;
}.co_item_not_serviceable {
  background-color: #F2F2F2;
  border-bottom: 1px solid #BB0000;
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0;
}.co_item_not_serviceable .message {
  background-color: #BB0000;
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: normal;
  padding: 5px;
}.cart .title-buttons .checkout-types li {
    float: none !important;
}
.co_summary_not_allowed th{
    background: #ddd;
    font-weight: bold;
}